body
{
	width:80%;
	padding:10px;
	margin-left:5%;
}
header
{
	background-color:grey;
	color:white;
	height:50px;
	text-align:center;
	line-height:50px;
}
nav{
	width:20%;
	float:left;
	height:300px;
	background-color:rgba(100,100,100,0.2);
	
	}
ul
{
	padding-left:10px;
	padding-right:10px;
	list-style:none;
	line-height:40px;
}
li{
	
	padding:2px;
}
li:hover
{
	border:4px solid green;
}
a
{
	color:black;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
}
a:hover
{
	color:green;
	font-size:20px;
	
}
section
{
	width:80%;
	height:300px;
	float:right;
}
section > h3{
padding-left:30px;
padding-top:30px;
color:rgba(0,0,100,0.8);
}
section >p 
{
	padding-left:30px;
	width:80%;
	line-height:30px;
	height:100%;
	font-size:100%;
	text-justify:middle;
}
footer
{
	width:100%;
	background-color:grey;
	clear:both;
	height:40px;
	line-height:40px;
}
footer > h4 
{
	color:white;
	font-family:arial;
	text-align:center;
}